*{
    margin: 0;
	padding: 0;
    border: 0;
    box-sizing: border-box;
} 
 .container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    align-items: center;
    text-align: center;
}

.clear {clear: both;}

/* HEADER */

.upper_bar {
    background: rgb(231, 227, 227);
    padding: 10px;
 }

.text_upper_bar {
    font-size: 20px;
    text-align: center;
    color: white;
}

.img_header{
    background-position: center;
    width: 100%;
    position: relative;
    padding: 200px 0;
    background-image: url('../img/fundomenu.png');
    background-repeat: no-repeat;
    background-size: cover;
}

nav.menu-desktop{
    align-items: center;
    text-align: center;
    
}
nav.menu-desktop ul{
    position: relative;
    top: 8px;
    
}
nav.menu-desktop li{
    padding: 0 10px;
    font-weight: lighter;
    display: inline-block;
    align-items: center;
    padding: 12px;
}
nav.menu-desktop a{
    color: black;
    text-decoration: none;
    transition: all 0.5s ease-out;
    font-size: 23px;
}

nav.menu-desktop a:hover{
    font-weight: bold;
    font-size: 30px;
}
 .button_read {
     background-color:dodgerblue;
     border-radius: 10px;
     padding-left: 5px !important;
     padding-right: 5px !important;
 }
  .cut {
        border-bottom: 1px solid rgb(204, 204, 204); 
 }
 
/* SECTION */

.section_container{
    margin-top: 35px;
    align-items: center;
    text-align: center;
 
}
.section_container h2{
    margin-bottom: 10px;
}
.section_container p{
    padding-bottom: 50px;
}
.coluna {
    float: right;
    width: 300px;
    background-color:  rgb(240, 229, 223);
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* EFEITO PARALAX */

section.paralax{
    padding: 200px 0;
    width: 100%;
    min-height: 420px;
    background-image: url('https://media.giphy.com/media/7Bgpw7PwdxoDC/source.gif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}

section.paralax h2 {
    border: 1px solid rgb(231, 227, 227);;
    display: inline-block;
    padding: 5px 25px;
    color:rgb(231, 227, 227);;
    font-size: 30px;
    font-weight: bolder;
    transition: 0.5s;
}

section.paralax h2:hover {
border: 1px solid  white;
color: white;
font-size: 40px;
}

/* FOOTER */ 

footer.footer1{
    background: rgb(231, 227, 227);;
    padding: 20px 0;
    color: white;
}

footer.footer2{
    background: rgb(231, 227, 227);
    text-align: center;
    color: white;
    padding: 10px;
}
footer.footer1 h2{
    font-weight: normal;
    font-size: 23px;
}
footer.footer1 p{
    margin-top: 8px;
    font-weight: lighter;
}
footer.footer1 a{
    display: block;
    color: white;
    text-decoration: none;
}

div.group-icons a{
    font-size: 42px;
    display: inline-block;
    margin:15px 10px ;
}

/* CONTATO FORMULARIO */ 

.formulario form{
    margin-top: 10px;
}

.formulario h2{
    text-align: center;
    color: #ACAC9D;
    font-size: 17px;
    font-weight: normal;
}

.formulario input[type=text],
.formulario input[type=email]{
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    padding-left: 8px;
}

.formulario textarea{
    width: 100%;
    height: 350px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    padding:10px;
    resize: none;
}

section.contato {
    min-height: 600px;
    padding: 30px 0;
}

section.contato .w50,
section.contato .w100{
   padding: 0 10px ;
}

.w60{
    width: 60%;
    float: left;
}

.w40{
    width: 40%;
    float: left;
}

.Enviar {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    width: 100%;
}
.Enviar:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.Enviar:active {
	position:relative;
	top:1px;
}

.tags-form h2 {
    font-weight: normal;
    margin-bottom: 30px;
}

.tags-form h2 {
    font-weight: normal;
    margin-bottom: 30px;
}

.tags-form p {
    font-weight: lighter;
}

.tags-form p.tag-contato{
    color: white;
    background: rgb(231, 227, 227);;
    text-align: center;
    margin-top: 8px;
    padding: 8px 4px;
    transition: 0.5s;
    cursor: pointer;
}

.tags-form p.tag-contato:hover{
    color: rgb(231, 227, 227);;
    background:white;
    text-align: center;
    margin-top: 8px;
    padding: 20px 4px;
}

.text_linkedin{
    padding: 20px;
    text-decoration: none;
    color: rgb(231, 227, 227);; 
}